<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcun icon" href="/fotosKiosco/beer.jpg">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28e7294a67.js" crossorigin="anonymous"></script>

    <title>Sobre nosotros</title>
</head>
<body>
    <header>
        <h1>Sobre nosotros</h1>
        <nav>
            <ul class="index-ul">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                <li>
                    <a href="/views/aboutus.html">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/views/productos.html">Productos</a>
                </li>
                <li>
                    <a href="/views/visitas.html">Visitas importantes</a>
                </li>
                <li>
                    <a href="/views/contact.html">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <h3>
        Kiosco JECY es un negocio familiar que nace el año 2005 en la Ciudad de Trelew, provincia de Chubut.
        Sus fundadores son Jorge Altamirano Almonacid y Cristina Colemil. Sus hijos completan
        el grupo, Emmanuel y Yamila. De sus iniciales surge el nombre del negocio. Parte importante tambien son
        el tio Herman y abuelo Adolfo.
        </h3>
        <section>
            <div id="section-images">
                <img src="/fotosKiosco/familia.jpg"
                alt=""
                width="500px"
                />
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h5>
            Desarrollado por Emmanuel Altamirano Colemil.
            </h5>
        </div>

    </footer>
    

</body>
</html>