<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
</head>
<body>
    <header>
        <h1>Sobre nosotros</h1>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="/views/aboutus.html">Sobre nosotros</a>
                </li>
                <li>
                    <a href="productos.html">Productos</a>
                </li>
                <li>
                    <a href="visitas.html">Visitas importantes</a>
                </li>
                <li>
                    <a href="contact.html">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <h3>
        Kiosco JECY es un negocio familiar que nace el año 2005 en la Ciudad de Trelew.
        Sus fundadores son Jorge Altamirano Almonacid y Cristina Colemil. Sus hijos completan
        el grupo, Emmanuel y Yamila. De sus iniciales surge el nombre del negocio.
        </h3>
        <section>
            <div>
                <img src="/fotosKiosco/familia.jpg"
                alt=""
                width="500px"
                />
            </div>
        </section>
    </main>
    <footer>

    </footer>
    

</body>
</html>