<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcun icon" href="/fotosKiosco/beer.jpg">
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28e7294a67.js" crossorigin="anonymous"></script>

    <title>Contacto</title>
</head>
<body>
    <header>

        <h1>Contacto</h1>
        <nav>
            <ul class="index-ul">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
               <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/views/aboutus.html">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/views/productos.html">Productos</a>
                </li>
                <li>
                    <a href="/views/visitas.html">Visitas importantes</a>
                </li>
                <li>
                    <a href="/views/contact.html">Contacto</a>
                </li>
            </ul>
        </nav>

        <h2>
            <div>
                <a href="https://www.facebook.com/JECY.TW">Escribinos por Facebook</a>
            </div>
        </h2>
    </header>
    <main>
        <section>
            <div id="section-images">
                <img src="/fotosKiosco/portada.jpg"
                alt=""
                width="600px"
                />
            </div>

    </main>
    <footer>
        <div>
            <h5>
            Desarrollado por Emmanuel Altamirano Colemil.
            </h5>
        </div>

    </footer>
    
</body>
</html>