<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcun icon" href="../fotosKiosco/beer.jpg">
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28e7294a67.js" crossorigin="anonymous"></script>

    <title>Visitas importantes</title>
</head>
<body>
    <header>
        <h1>Visitas de personalidades nacionales</h1>
        <nav>
            <ul class="index-ul">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/views/aboutus.html">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/views/productos.html">Productos</a>
                </li>
                <li>
                    <a href="/views/visitas.html">Visitas importantes</a>
                </li>
                <li>
                    <a href="/views/contact.html">Contacto</a>
                </li>
            </ul>
        </nav>

        <h2>Omar "Huracán" Narvaez</h2>
        <h3>Omar Narváez (Trelew, Provincia de Chubut, 7 de octubre de 1975) es un boxeador argentino.
            Fue campeón mundial de la categoría mosca y supermosca entre el año 2002 y 2014 con 29 defensas exitosas.</h3>
            <div>
                <a href="https://es.wikipedia.org/wiki/Omar_Narv%C3%A1ez">Enlace a Wikipedia</a>
            </div>

        </header>
    <main>
        <section>
            <div id="section-images">
                <img src="../fotosKiosco/narvaez.jpg"
                alt=""
                width="300px"
                />
            </div>
        </section>
    
    </main>
    <footer>
        <div>
            <h5>
            Desarrollado por Emmanuel Altamirano Colemil.
            </h5>
        </div>
    </footer>
</body>
</html>