*{
    list-style: none;
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

h1{
    color: black;
}

#section-images{
    display: flex;
    justify-content: space-evenly;
    ;
}

#section-images img{
    border: 2px ridge black;
}

.index-ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

body{
    background: linear-gradient(to right, white, purple);
}